[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dashCoreComponents"]
	path = dashCoreComponents
	url = https://github.com/cran/dashCoreComponents
[submodule "dashHtmlComponents"]
	path = dashHtmlComponents
	url = https://github.com/cran/dashHtmlComponents
[submodule "dashTable"]
	path = dashTable
	url = https://github.com/cran/dashTable
